extends pug/layout
block css 
    link(href="./css/index.css", rel="stylesheet")
block content
    section.product
        .container 
            .product__list
    a(onclick="showw()")  load
block js
    script(type="module" src="./js/index.js")